<div class="card border-0 mt-4">
  <div class="row no-gutters">
    <div class="col-9">
      <div class="card-body pl-0 py-0">
        <h5 class="card-title">
          <a href="{{ .Permalink }}" class="text-decoration-only-hover">{{ .Title }}</a>
        </h5>
        <div class="card-text d-none d-md-block mb-1">
          <a href="{{ .Permalink }}" class="text-decoration-none">{{ .Summary }}</a>
        </div>
        <p class="card-text text-muted small mb-1">
          {{ partial "meta-date.html" . }}
          {{ partial "meta-reading-time.html" . }}
        </p>
      </div>
    </div>
    <div class="col-3 m-auto">
      <a href="{{ .Permalink }}">
        {{ partial "meta-thumbnail.html" . }}
      </a>
    </div>
  </div>
</div>
