<link rel="preload"
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
      as="style">

<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet">

<style type="text/css">
@font-face {
  font-family: 'Source Sans Pro';
  font-display: swap;
}

@font-face {
  font-family: 'Source Code Pro';
  font-display: swap;
}
</style>
