<link rel="shortcut icon" href="{{ relURL `/favicon.png` }}">

<link rel="icon" href="{{ relURL `/favicon-16x16.png` }}" sizes="16x16">
<link rel="icon" href="{{ relURL `/favicon-32x32.png` }}" sizes="32x32">
<link rel="icon" href="{{ relURL `/favicon-192x192.png` }}" sizes="192x192">

<link rel="apple-touch-icon" sizes="72x72" href="{{ relURL `/apple-touch-icon-72x72.png` }}">
<link rel="apple-touch-icon" sizes="114x114" href="{{ relURL `/apple-touch-icon-114x114.png` }}">
<link rel="apple-touch-icon" sizes="144x144" href="{{ relURL `/apple-touch-icon-144x144.png` }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ relURL `/apple-touch-icon-180x180.png` }}">
<link rel="apple-touch-icon" sizes="192x192" href="{{ relURL `/apple-touch-icon-192x192.png` }}">

<link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ relURL `/apple-touch-icon-144-precomposed.png` }}">
<link rel="apple-touch-icon-precomposed" sizes="192x192" href="{{ relURL `/apple-touch-icon-192-precomposed.png` }}">
