{{ if .Params.interactive }}
<link rel="stylesheet" href="{{ "css/nn-demos.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/cleaning-widget.css" | relURL }}">
<script type="module" src="{{ "js/nn/main.js" | relURL }}"></script>
{{ end }}
{{ if .Params.bpe }}
<link rel="stylesheet" href="{{ "css/nn-demos.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/bpe-widget.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/bpe-playground.css" | relURL }}">
<script
  type="module"
  src="{{ "js/bpe/summary.js" | relURL }}"
  data-widget-url="{{ "bpe/" | relURL }}"
  data-tokenizer-url="{{ "bpe/tokenizer.json" | relURL }}"
  data-report-url="{{ "bpe/report.json" | relURL }}"
></script>
{{ end }}
